body {
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #444;
    font-size: 14px;
    background: #F3F5F9;
}
body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
s {
    margin: 0;
    padding: 0;
    /*2017-12-08 加*/
    box-sizing: border-box;
    font-weight: normal;
}
li {
    list-style: none;
}
img {
    display: inline-block;
    border: none;
}
em {
    font-style: normal;
}
a,
a:focus,
a:visited,
a:link,
a:hover {
	outline: none;
    text-decoration: none;
}
a{
    color: #333;
}
a:hover{
    color: #ff6b00;
}

i {
    vertical-align: middle;
    font-style: normal;
}
i,
label,
input[type='checkbox'] {
    vertical-align: middle;
}
input{
    padding: 10px;
}
label {
    font-weight: normal;
}
textarea{
    resize: none!important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
   color: #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
   color: #999;
}
input::-moz-placeholder, textarea::-moz-placeholder{
   color: #999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
   color: #999;
}

 /* 关键字标红 */
.keyword-highlight {
    color: #FF5050 !important;
    font-weight: normal;
}

/* 可以设置不同的进入和离开动画 */
/* 动画时间 */
#app .fade-enter-active,#app .fade-leave-active {
  transition: all .5s ease
}
/* 进入默认位置 */
#app .fade-enter{
    opacity: 0;
    transform: translate(25%,-50%);
}
#app .fade-leave-to{
    opacity: 0;
    transform: translate(-125%,-50%);

}

/* 确认框样式 */

.el-message-box--center {
    padding-bottom: 20px;
}

.el-message-box--center .el-message-box__btns {
    height: 36px;
    /* padding:10px 120px 0; */
    text-align: center;
}

.el-message-box--center .el-message-box__btns button.el-button--default {
    float: right;
    margin-left: -70px;
    margin-right: 110px;
}

.el-message-box--center .el-message-box__btns button.el-button--primary {
    float: none;
    margin-left: 0;
    margin-right: 0px;
}

/*提示框颜色*/
.el-tooltip__popper.tooltip{
    padding: 5px;
    border:1px solid #ff6b00;
}

/*超出隐藏显示省略号*/
.box-content{
    display: inline-block;
    overflow:hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

